stages:
  - deploy

deploy:
  stage: deploy
  script:
    - docker build -t blog:wangchenglong-fsfsafa .
    - if [ $(docker ps -aq --filter name=blog) ]; then docker rm -f blog;fi
    - docker run -d -p 3000:3000 --name blog blog:wangchenglong-fsfsafa
  tags:
    - deploy
  only:
    - master
